option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: TaskManager.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: TaskManager.settings
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"