{% load static %}

<header class="navbar navbar-expand-lg navbar-light bg-white shadow py-3">
  <div class="container">
    <a href="/" class="navbar-brand d-flex align-items-center">
      <!-- <img src="" alt="Logo" width="45" height="45" class="me-2 rounded-circle"> -->
      <span class="fw-bold text-primary fs-4">Task Manager</span>
    </a>
    
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link text-secondary fw-semibold">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-secondary fw-semibold">Task</a></li>
        {% if user.is_authenticated %}
          <li class="nav-item"><a href="#" class="nav-link text-secondary fw-semibold">Orders</a></li>
          <li class="nav-item"><a href="#" class="nav-link text-secondary fw-semibold">History</a></li>
        {% endif %}
        <li class="nav-item"><a href="{% url 'aboutus' %}" class="nav-link text-secondary fw-semibold">About Us</a></li>
      </ul>
      
      {% if user.is_authenticated %}
      <div class="ms-4 position-relative">
        <button class="btn btn-light dropdown-toggle d-flex align-items-center px-3 py-2 border rounded-pill shadow-sm" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="fw-semibold text-dark">{{ user.username }}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow-sm border-0 rounded-3 mt-2" aria-labelledby="userDropdown">
            <li><a class="dropdown-item py-2" href="#">View Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item py-2 text-danger" href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
      {% else %}
      <div class="ms-4">
        <a href="{% url 'login' %}" class="btn btn-outline-primary px-4 py-2 rounded-pill me-2">Login</a>
        <a href="{% url 'register' %}" class="btn btn-primary px-4 py-2 rounded-pill shadow">Sign-up</a>
      </div>
      {% endif %}
    </div>
  </div>
</header>
