{% extends '_partials/base.html' %}

{% block title %}
<title>Task Manager - Create Task</title>
{% endblock %}

{% load static %}
{% load widget_tweaks %}

{% block body %}

<div class="container">
    <br>
    <h1 class="text-center">Task</h1>
    <hr>
    <br>

    <section class="vh-20">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card shadow-lg border-0 rounded-4">
                        <div class="card-body p-5">
                            <h3 class="text-center mb-4">Task Details</h3>
                            <form method="POST">
                                {% csrf_token %}
                                {% for field in m_form.visible_fields %}
                                <div class="form-outline mb-4">
                                    <label class="form-label">{{ field.label }}</label>
                                    {% render_field field class="form-control" %}
                                    {% if field.errors %}
                                    <div class="text-danger small">{{ field.errors.0 }}</div>
                                    {% endif %}
                                </div>
                                {% endfor %}

                                {{ form.errors }}
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-lg px-5">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}